.Content-Container{
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: white;
}
.content{
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
}
.productConstant{
    margin-top: 30px;
    background-color: rgba(235,240,255,255);
    display: flex;
    width: 100%;
    justify-content:space-between;
}
.productTittle{
    padding-left: 150px;
}
.productImageConstant{
  align-content: right;
}
.ProductConstantImage{
    max-width: 600px;
    min-width: 500px;
    max-height: 280px;
}
.ProductConstantImage-books{
    padding-right: 150px;
    width: 400px;
    max-height: 280px;
}
.discoverButton{
    background: transparent;
    width: 200px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fa1e74;
    border: 2px solid #fa1e74;
    border-radius: 5px;
}
.productTittle h4{
    color: #fa1e74;
}

.product-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding-bottom: 40px; 
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: flex-start; */
}
.bookscoloumns{
    grid-template-columns: auto auto auto auto;
}
.product-container::after{
    justify-content: space-between;
    /* margin: 50px;
    content: " ";
    width: 0px;*/
    flex: auto; 
}
.product-content-image{
    /* width: 280px;
    min-height: 340px; */
    width: 440px;
    margin-top: 30px;
    height: auto;
}
.books{
    width: 280px;
    min-height: 340px;
}
.image-div{
    padding: 44px;
    border: 1px solid rgb(199, 197, 197);
    border-radius: 5px;
}
.productImage{
    border-radius: 5px;
    /* width: 340px; */
    width: 100%;
    height: 240px;
}
.productImage-books{
    /* margin-top: 50px; */
    /* border: 1px solid rgb(199, 197, 197);
    border-radius: 5px; */
    /* width: 340px; */
    width: 100%;
    max-height: 340px;
}
.fa{
    padding-right: 5px;
}
.checked{
    color: #fa1e74;
}
.buynow{
    margin-top: 5px;
    width: 150px;
    height: 40px;
    background-color: #fa1e74;
    color: white;
    border-radius: 5px;
    border: none;
}

.Colors{
    display: flex;
    align-content: flex-start;
}
.Color-name{
    display: flex;
}
.colorButtonDiv{
    display: flex;
    padding-left: 10px;
}

.productNameAndRupee{
    /* width: 340px; */
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.productName{
    font-size: 18px;
    color: black;
}
.rupees{
    min-width: 60px;
    padding-top: 8px;
    font-size: 18px;
    color: #fa1e74;
}
.offerPrice{
    text-align: center;
    font-size: 16px;
    text-decoration: line-through; 
    color: black;
}
.rank{
    color: rgb(51, 51, 51);
    font-size: 14px;
}
.productDescription{
    font-size: 14px;
    padding-top: 10px;
    color: rgb(88, 88, 88);
}

@media only screen and (max-width:1160px) {
    .product-content-image{
        width: 330px;
    }
    .productImage{
        height: 250px;
    }
}


@media only screen and (max-width:1100px) {
    .product-container{
        grid-template-columns: auto auto auto;
    }
    .productTittle{
        padding-left: 50px;
    }
    .productImage{
        /* width: 300px; */
        width: 100%;
        /* height: 300px; */
    }
    .productImage-books{
        /* width: 300px;
        height: 300px; */
        width: 100%;
    }
    .product-content-image{
        /* width: 300px; */
        height: auto;
    }
    .ProductConstantImage-books{
        padding-right: 50px;
    }
    .rupees{
        min-width: 60px;
    }
}
@media only screen and (max-width:1000px){
    .product-content-image{
        min-width: 280px;
        /* height: 260px; */
    }
    /* .productImage-books{
        /* width: 260px; * /
        width: 100%;
        height: 260px;
    } */
}
@media only screen and (max-width:900px) {
    .product-container{
        grid-template-columns: auto auto auto;
    }
    .product-content-image{
        /* width: 300px; */
        height: auto;
    }
    .ProductConstantImage{
        min-height: auto;
        min-width: auto;
        max-width: 150px;
    }
    .ProductConstantImage-books{
        padding-right: 0px;
        min-height: auto;
        min-width: auto;
        max-width: 150px;
    }
    .productTittle{
        padding-left: 0px;
        padding: 10px;
    }
    .productTittle h1{
        font-size: 14px;
    }
    .productTittle h4{
        font-size: 12px;
    }
    .discoverButton{
        width: auto;
        border: 1px solid #fa1e74;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .product-content-image{
        min-width: 230px;
    }
    .productImage{
        height: 160px;
    }
}
@media (max-width:970px) {
    .product-content-image{
        width: 150px;
    }
}
/* @media (max-width:850px) {
    .product-content-image{
        min-width: 230px;
    }
} */
/* @media (min-width:670px) {
    .product-content-image{
        max-width: 280px;
    }
} */
@media (max-width:760px) {
    .product-container{
        justify-content: space-between;
        grid-template-columns: auto auto;
    }
    .product-content-image{
        width: 280px;
    }
}
@media only screen and (max-width:670px){
    /* .product-container{
        grid-template-columns: auto auto;
    } */
    /* .product-container{
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
    } */
    .product-content-image{
        width: 250px;
        height: auto;
    }
    .productImage{
        width: 100%;
        /* height: 250px; */
    }
    .productImage-books{
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width:600px) {
    .rupees{
        min-width: 42px;
        font-size: 14px;
    }
    .productName{
        font-size: 14px;
    }
}
@media only screen and (max-width:575px){
    .product-content-image{
        max-width: 150px;
        height: auto;
    }
    .productImage{
        width: 100%;
        height: 140px;
    }
    .productImage-books{
        width: 100%;
        height: 150px;
    }
}
@media only screen and (max-width:525px) {
    .product-container{
     grid-template-columns: auto auto;
    } 
    .product-content-image{
        width: 200px;
    }
    .productImage-books{
        width: 100%;
    }
 }
@media only screen and (max-width:510px){
    .product-content-image{
        min-width: 175px;
        height: auto;
    }
    .productImage{
        width: 100%;
        height: 100px
    }
    .productImage-books{
        /* width: 140px; */
        width: 100%;
        height: 140px;
    }
}
@media only screen and (max-width:420px) {
    .buynow{
        width: 100px;
        padding: 5px;
        height: auto;
        border-radius: 3px;
    }
    .product-content-image{
        padding-left: 0px;
        padding-right: 0px;
        width: 140px;
        height: auto;
    }
    .productDescription{
        font-size: 12px;
    }
    .content{
        margin-left: 20px;
        margin-right: 20px;
    }
    .image-div{
        padding: 10px;
    }
    .ProductConstantImage-books{
        padding-right: 20px;
        max-width: 100px;
        max-height: 280px;
    }

}
@media only screen and (max-width:350px) {
    .ProductConstantImage-books{
        padding-right: 0px;
        max-width: 100px;
        max-height: 280px;
    }
}
@media only screen and (max-width:380px) {
    .product-content-image{
        min-width: 150px;
    }
}
@media only screen and (max-width:342px) {
    .product-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        height: auto;
    }
    .product-content-image{
        min-width: 240px;
    }
    .productImage-books{
        height: 240px;
    }
    .productImage{
        height: auto;
    }
}

.paginateClass{
    width: 100%;
}




/* .grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-row-gap: 50px;
    margin: 50px 0px;
}
.grid{
    display: grid;
    height: 380px;
    width: 300px;
    background-color: chocolate;
}
.grid-image{
    display: grid;
    height: 100%;
    width: 100%;
} */
.author{
    max-width: 380px;
}
/* @media only screen and (max-width:1100px){
    .grid-image{
        height: 300px;
        width: 250px;
    }
} */